.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-wrapper {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    background-color: var(--bg-secondary);
    overflow-y: auto;
}